@import '../../../variables.scss';

.button {
  background-color: $secondaryGreen;
  color: $primaryGreen;
  font-size: 18px;
  font-weight: 500;
  padding: 14px;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  outline: none;
  border: 1px solid transparent;
  text-decoration: none;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  will-change: transform;
  transition: transform 450ms ease 0s;
  transform: perspective(1px) translateZ(0px);

  &:hover {
    background-color: #c9f2d4;
  }
}
