@import '../../../variables.scss';

.dropdown {
  position: relative;
  select {
    background-color: #edeef2;
    border-radius: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 16px;
    outline: none;
    user-select: none;
    font-size: 20px;
    font-weight: 500;
    height: 2.4rem;
    width: initial;

    &:hover {
      background-color: $primaryGrey;
    }
    option {
      cursor: pointer;
    }
    option[value=''][disabled] {
      display: none;
    }
  }
}
