@import '../../../variables.scss';

.assetNumberInput {
  border-radius: 20px;
  border: 1px solid white;
  background-color: $secondaryGrey;
  width: initial;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px 18px;

  .assetDropdown {
    width: 110px;
    text-align: center;
  }

  input {
    font-size: 25px;
    margin-right: 15px;
    background-color: $secondaryGrey;
    border: none;
    outline: none;
    user-select: none;
  }

  &:hover {
    border: 1px solid #ced0d9;
  }
}
