@import '../../../../variables.scss';

.homeTable {
  table {
    border-spacing: 0;
    width: 100%;

    th {
      background-color: $secondaryGreen;
      padding: 15px;
      text-align: left;
    }

    td {
      margin: 0;
      padding: 15px;
      background-color: white;
    }
  }
}
