:global {
  body {
    display: block;
    margin: 0;
    font-family: 'Lato';
  }
  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
    color: inherit;
  }
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

.app {
  background-color: #f7f8fa;
  min-height: 100vh;
}

.container {
  max-width: 992px;
  margin: auto;
}
