:global {
  body {
    display: block;
    margin: 0;
    font-family: 'Lato';
  }
  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
    color: inherit;
  }
}

.app {
  background-color: #f8f9fd;
  min-height: 100vh;
}

.container {
  max-width: 992px;
  margin: auto;
}
